* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102094;
    padding: 15px 30px;
    color: white;
    
    
}
     


.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    border-right:1px solid #374151;
    padding:10px;
}

.nav-links a:hover {
    color: #38bdf8;
}

.logout-btn {
    background-color: #ef4444;
    border: none;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #dc2626;
}
#search{
    border-style: none;
    border-color: black;
    width:auto;
    height:20px;
}
.content{
    margin-top:350px;
    margin-bottom:350px;
}
.footer {
    background-color: #0f172a;
    color: #e5e7eb;
    padding: 30px 20px 10px;
    margin-top: 40px;
    text-align:left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align:left;
   
}

.footer-section {
    max-width: 300px;
    margin-bottom: 20px;
    border-right:2px solid #374151;
    padding:20px;
    text-align:left;
    
}

.footer-section h3,
.footer-section h4 {
    color:skyblue;
    margin-bottom: 10px;
    text-align:left;
     
}

.footer-section a {
    display: block;
    color: #9ca3af;
    text-decoration: none;
    margin-bottom: 6px;
    text-align:left;
}

.footer-section a:hover {
    color: #38bdf8;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #9ca3af;
    border-top: 1px solid #1e293b;
    padding-top: 10px;
}