*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}
.navbar {
    background: linear-gradient(135deg, #102094 0%, #0d1a7a 100%);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    text-align:center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-align:center;
}

/* .nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s;
    border-right: 2px solid #374151;
}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
} */
/* .logout {
    background-color: #e74c3c;
} */


.container {
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: rgb(82, 82, 159);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

a {
    text-decoration: none;
    color: #2563eb;
}
